{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{json,css,md}": [
    "prettier --write",
    "git add"
  ]
}